In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(os.path.join('..','data','mbti_1.csv'))
df

      type                                              posts
0     INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1     ENTP  'I'm finding the lack of me in these posts ver...
2     INTP  'Good one  _____   https://www.youtube.com/wat...
3     INTJ  'Dear INTP,   I enjoyed our conversation the o...
4     ENTJ  'You're fired.|||That's another silly misconce...
...    ...                                                ...
8670  ISFP  'https://www.youtube.com/watch?v=t8edHB_h908||...
8671  ENFP  'So...if this thread already exists someplace ...
8672  INTP  'So many questions when i do these things.  I ...
8673  INFP  'I am very conflicted right now when it comes ...
8674  INFP  'It has been too long since I have been on per...

[8675 rows x 2 columns]

Removing the url from the posts, making the text lowercase and making a list of the posts per row by splitting `|||` characters

In [3]:
import re
def remove_url(text):
    return re.sub(r"http\S+", "", text).split("|||")#.lower().replace("  ","").split("|||")

print(df.shape)
df['posts_clean'] = df.posts.apply(remove_url)
# df['posts_clean'] = df['posts_clean'].str.encode('utf')
# df['posts_length'] = df.posts_clean.apply(len)
# df = df[df.posts_length >10]
df

(8675, 2)

,type,posts,posts_clean
0,INFJ,'http://www.youtube.com/watch?v=qsXHcwe3krw|||...,[' and intj moments sportscenter not top te...
1,ENTP,'I'm finding the lack of me in these posts ver...,['I'm finding the lack of me in these posts ve...
2,INTP,'Good one _____ https://www.youtube.com/wat...,"['Good one _____ course, to which I say I ..."
3,INTJ,"'Dear INTP, I enjoyed our conversation the o...","['Dear INTP, I enjoyed our conversation the ..."
4,ENTJ,'You're fired.|||That's another silly misconce...,"['You're fired., That's another silly misconce..."
...,...,...,...
8670,ISFP,'https://www.youtube.com/watch?v=t8edHB_h908||...,[' just because I always think of cats as Fi d...
8671,ENFP,'So...if this thread already exists someplace ...,['So...if this thread already exists someplace...
8672,INTP,'So many questions when i do these things. I ...,['So many questions when i do these things. I...
8673,INFP,'I am very conflicted right now when it comes ...,['I am very conflicted right now when it comes...
8674,INFP,'It has been too long since I have been on per...,['It has been too long since I have been on pe...

Using the pandas `explode` method to split of the posts_clean column full of lists and assign them to the personality type

In [4]:
df_clean = df.explode('posts_clean')[['type','posts_clean']]
df_clean

      type                                        posts_clean
0     INFJ  ' and intj moments    sportscenter not top ten...
0     INFJ  What has been the most life-changing experienc...
0     INFJ                       On repeat for most of today.
0     INFJ               May the PerC Experience immerse you.
0     INFJ  The last thing my INFJ friend posted on his fa...
...    ...                                                ...
8674  INFP  I was going to close my facebook a few months ...
8674  INFP  30 Seconds to Mars - All of my collections. It...
8674  INFP  I have seen it, and i agree. I did actually th...
8674  INFP  Ok so i have just watched Underworld 4 (Awaken...
8674  INFP  I would never want to turn off my emotions. so...

[405263 rows x 2 columns]

In [5]:
# df = df[df.post_length > 7]
df_clean = df.explode('posts_clean')[['type','posts_clean']]
print(([type(i) for i in df_clean.posts_clean]))
df_clean['posts_clean'] = df_clean['posts_clean'].str.encode('utf-8')
df_clean = df_clean.dropna(how = 'any')
# df_clean['posts_clean'] = df_clean['posts_clean'].apply(str)
print(df_clean.shape)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

(405263, 2)

In [6]:
df_clean

      type                                        posts_clean
0     INFJ  b"' and intj moments    sportscenter not top t...
0     INFJ  b'What has been the most life-changing experie...
0     INFJ               b'     On repeat for most of today.'
0     INFJ            b'May the PerC Experience immerse you.'
0     INFJ  b"The last thing my INFJ friend posted on his ...
...    ...                                                ...
8674  INFP  b'I was going to close my facebook a few month...
8674  INFP  b'30 Seconds to Mars - All of my collections. ...
8674  INFP  b'I have seen it, and i agree. I did actually ...
8674  INFP  b"Ok so i have just watched Underworld 4 (Awak...
8674  INFP  b"I would never want to turn off my emotions. ...

[405263 rows x 2 columns]

In [7]:
df_clean.shape

(405263, 2)

In [8]:
df_clean.to_csv(os.path.join('..','data','mbti_1_clean.csv'), index=False)